body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
}

div {
    border: 1px dashed red;
    margin: 5px;
    padding: 5px;
}

header {
    border: 1px dashed green;
    margin: 5px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-position: center;
}

footer {
    border: 1px dashed yellow;
    margin: 5px;
}

table {
    /*width: 100%;
    height: 100%;*/
	border: 1px solid black;
    background-color: lightgray;
    /*border-collapse: separate;*/
}

td {
	width: 30px;
	height: 30px;
	border: 3px solid transparent;
}

td.color_1 {
    background-color: red;
}
td.color_1:hover {
    background-color: rgb(255, 146, 146);
}

td.color_2 {
    background-color: orange;
}
td.color_2:hover {
    background-color: rgb(255, 208, 119);
}

td.color_3 {
    background-color: yellow;
}
td.color_3:hover {
    background-color: rgb(255, 255, 167);
}

td.color_4 {
    background-color: blue;
}
td.color_4:hover {
    background-color: rgb(118, 118, 255);
}

td.color_5 {
    background-color: green;
}
td.color_5:hover {
    background-color: rgb(21, 197, 21);
}

td.color_6 {
    background-color: mediumvioletred;
}
td.color_6:hover {
    background-color: rgb(218, 129, 185);
}


.player {
    border-color: greenyellow;
}
.player:hover {
    border-color: grey;
}

.enemy {
    border-color: black;
}
.enemy:hover {
    /*border-color: magenta;*/
    border-color: white;
}

.neutral {
    border-color: grey;
    background-color: grey;
}
.neutral:hover {
    border-color: grey;
}


/*
	table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    overflow-x: hidden;
    overflow:-moz-hidden-unscrollable;
}
.table_button {
    color: #000;
    border-radius: 5px;
    font-family: 'Arial', Courier, monospace;
    padding-left: 5px;
    padding-right: 5px;
    border-color: rgb(58, 57, 57);
    border-style: solid;
}
*/