td {
  width: 25px;
  height: 25px;
  border: 3px solid transparent;
  cursor: pointer;

  div {
    margin: auto;
    padding: 0;
    width: fit-content;
    font-size: 20px;
    font-weight: bolder;
  }
}

.color_1 {
  background-color: red;
}

.color_1:hover {
  background-color: rgb(255, 146, 146);
}

.color_2 {
  background-color: orange;
}

.color_2:hover {
  background-color: rgb(255, 208, 119);
}

.color_3 {
  background-color: yellow;
}

.color_3:hover {
  background-color: rgb(255, 255, 167);
}

.color_4 {
  background-color: blue;
}

.color_4:hover {
  background-color: rgb(118, 118, 255);
}

.color_5 {
  background-color: green;
}

.color_5:hover {
  background-color: rgb(21, 197, 21);
}

.color_6 {
  background-color: mediumvioletred;
}

.color_6:hover {
  background-color: rgb(218, 129, 185);
}

.player {
  border-color: greenyellow;
}

.player:hover {
  border-color: grey;
}

.enemy {
  border-color: black;
}

.enemy:hover {
  /*border-color: magenta;*/
  border-color: white;
}

.neutral {
  border-color: #3d3d3d;
  background-color: #3d3d3d;
}

.neutral:hover {
  border-color: #3d3d3d;
}
