@import "src/global";

td {
  min-width: 25px;
  min-height: 25px;

  max-width: 25px;
  max-height: 25px;

  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 3px solid transparent;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    border-color: black;
  }
}


.color_1 {
  background-color: #ff2b2b;
}

.color_2 {
  background-color: #ff9b4c;
}

.color_3 {
  background-color: #ffff40;
}

.color_4 {
  background-color: #5b5be3;
}

.color_5 {
  background-color: #199b19;
}

.color_6 {
  background-color: #ff3cb5;
}

.player {
  &:hover {
    border-color: transparent;
  }
}

.enemy {
  &:hover {
    border-color: transparent;
  }
}

.neutral {
  background-color: $table-background;

  &:hover {
    border-color: transparent;
  }
}

